.form {
  &-input {
    display: block;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 1rem 0 1rem 2.25rem;
    
    &::placeholder {
      color: color(neutral, 1);
    }
  }
}