@use './index' as *;

/*
  =============================
  BASE
  =============================
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

button,
.button {
	display: inline-block;
	padding: 0.75rem 1.75rem;
	color: color(neutral, 2);
	font-size: font-size(t-r);
	background-color: color(primary, 1);
	border: none;
	border-radius: 8px;
	box-shadow: box-shadow(button, default);
	transition: transition(button);
	cursor: pointer;

	&:hover {
		color: color(neutral, 2);
		box-shadow: box-shadow(button, hover);
	}
}

a {
	text-decoration: none;
	transition: transition(button);

	&:hover {
		color: color(primary, 1);
	}
}

mark {
	padding: 0.25rem;
	background-color: color(neutral, 3);
	border-radius: 4px;
}
